<div class="container">
  <h2 class="my-5">レビュー</h2>
  <div class="row">
    <div class="col-3">
    </div>

    <div class="col-8">
        <h2 class="font-weight-bold my-5 border-bottom">
          レビュー <%= @reviews.count %>件
        </h2>
       <%= render 'review_list', reviews: @reviews %>
    </div>
    </div>
  </div>
</div>
