@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '../stylesheets/my_movies.scss';
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@media screen and (min-width: 768px){
  
}