body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background: #f5f5f5;
  color: #422D18;
}
// ヘッダーリンク色無効
.link-header {
    text-decoration: none;
    color: #f5f5f5; 
}

// ボディリンク色無効
.link-body {
    text-decoration: none;
    color: #422D18; 
}
header {
  background-color: #a68b62;
  color: #f5f5f5;
}

// トップページユーザーお気に入り映画
.top-user {
  line-height: 0.5rem;
  font-weight: bold;
}

.button {
    background-color :#a68b62;
    color: white;
    border-radius: 5px;
}

.user-icon{
  border-radius: 50%;
}

.user-movie_table {
  display:table;
}

 .table-cell {
  display:table-cell;
 }
 
//  movies
.movies ul {
    list-style:none;
}

.movies h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.row-gap {
    row-gap: 20px;
}

.list btn {  
  width: 30px;
  height: 30px;
  background-color: #a68b62;
  border-radius: 5px;
}

.watch btn {  
  width: 30px;
  height: 30px;
  background-color: #a68b62;
  border-radius: 5px;
}

.list {
  background-color: #a68b62;
  height: 30px;
  weight: 25px;
  position: absolute;
  border-radius: 5px;
  padding-left: 15px;
  margin-top: 6px;
}

.watch {
  background-color: #a68b62;
  height: 30px;
  weight: 25px;
  position: absolute;
  border-radius: 5px;
  padding-left: 15px;
  margin-top: 6px;
  margin-left: 170px;
}

.populer-user {
  margin-left: 250px;
}